<h1>Home </h1>

<li><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>


<% if (user != null) {%>
<h4>Hello <%= user.username %></h4>
<li><a href="/logout">Log Out</a></li>
<% }%>
